<div fxFlex fxLayout="column"  fxLayoutAlign="start" id="AddLocationMaster">
    <div style="margin-top: -35px"  mat-dialog-title>
        <div class="h5 mb-8 pt-16" >Change Password
        </div>
        <div  fxLayout="column"  fxLayoutAlign="start">
            <mat-divider></mat-divider>
        </div>
    </div>
    <div [formGroup]="user" fxFlex="" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="7px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="10px">
        <mat-form-field appearance="outline">
            <mat-label>Old password</mat-label>
            <input matInput  [type]="hide?'password':'text'" formControlName="oldPassword">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="user.get('oldPassword').hasError('required')">Please Enter password</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>New password</mat-label>
            <input matInput  [type]="hide1?'password':'text'" formControlName="newPassword" (input)="onPasswordInput()">
            <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="user.get('newPassword').hasError('required')">Please Enter password</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input matInput [type]="hide2?'password':'text'" formControlName="confrmPassword" (input)="onPasswordInput()">
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="user.get('confrmPassword').hasError('required')">Please confirm your password</mat-error>
            <mat-error *ngIf="user.get('confrmPassword').invalid && !user.get('confrmPassword').hasError('required')">Passwords don't match</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row" class="pt-16" fxLayoutAlign="end">
        <button (click)="ChangePassword()" [disabled]="user.invalid" class="mat-accent mr-16"
                mat-raised-button>Change Password
        </button>
        <button (click)="cancle()"  color="warn" mat-raised-button>Cancel</button>
    </div>

</div>



