<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="AddRetailer">
    <div class="content p-20" pristinePerfectScrollbar>
        <div fxLayout="column" fxLayoutAlign="start">
            <div class="pristine-card auto-width mat-elevation-z1 mb-32" fxFlex="1 0 auto" fxLayout="column"
                 fxLayoutAlign="start">
                <div class="h4 mb-8 p-16"  style="background-color: rgba(255,192,203,0.73)">Add Retailer
                    <button (click)="onClickNew()" mat-raised-button color="white" matTooltip="Add retailer by excel" style="float: right" mat-ripple>
                        <mat-icon>add</mat-icon>
                        <b>New</b>
                    </button>
                </div>

                    <div fxFlex fxLayout="column" class="p-8">
                        <mat-form-field appearance="outline" class="pt-16" style="width:40%">
                            <mat-label>Select branch</mat-label>
                            <mat-select [formControl]="branch"  (selectionChange)="GetRetailr(branch.value)">
                                <mat-option [value]="branch.branch_code" *ngFor="let branch of AllBranchDetail">{{branch.branch_code}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="ng-table table_paginator">
                            <ng2-smart-table [settings]="retailerdetail"
                                             [source]="datasource"></ng2-smart-table>
                        </div>
<!--                        <div  fxLayout="column" class="p-8">-->
<!--                            <div class="example-container">-->
<!--                                <table mat-table #Sort="matSort" matSort [dataSource]="dataSource" class=" table mat-elevation-z0" >-->
<!--                                    <ng-container *ngFor="let column of displayColumn" [matColumnDef]="column">-->
<!--                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column|firstAnd_Split}} </th>-->
<!--                                        <td mat-cell *matCellDef="let element">{{element[column]}}-->
<!--                                            &lt;!&ndash;                            <p *ngIf="column!='Action';else elseblock">{{element[column]}}</p>&ndash;&gt;-->
<!--                                            &lt;!&ndash;                            <ng-template #elseblock style="padding-left:-10px" align="left">&ndash;&gt;-->
<!--                                            &lt;!&ndash;                                <button   mat-icon-button><mat-icon>delete</mat-icon></button>&ndash;&gt;-->
<!--                                            &lt;!&ndash;                            </ng-template>&ndash;&gt;-->
<!--                                        </td>-->
<!--                                    </ng-container>-->

<!--                                    <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>-->
<!--                                    <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>-->
<!--                                </table>-->
<!--                                <div *ngIf="dataSource?.data?.length<0">-->
<!--                                    No data found-->
<!--                                </div>-->
<!--                                <div *ngIf="dataSource?.data?.length<0">-->
<!--                                    <mat-divider></mat-divider>-->
<!--                                </div>-->
<!--                                <mat-paginator #Paginator="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
            </div>
        </div>
    </div>
</div>

